#map {
    height: 100%;
    width: 60%;
    float: left;
}
#forms {
    float: left;
    margin: 50px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
input[type="text"], textarea {
    padding: 6px;
    width: 200px;
    border: none;
}
button {
    padding: 10px;
    border-radius: 5px;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
button:focus {
    outline: none;
}
#recommendations {
    float: left;
    margin: 20px;
    padding: 10px;
}
.recommendation {
    margin-top: 10px;
    padding: 10px;
}
.recommendation:hover {
    background: lightblue;
    cursor: pointer;
}